# Cadastro Geral

Atualmente há duas lista de cadastro geral no Ponto do Bem. O objetivo desse programa é conciliar os dados das duas em uma planilha só. Ademais, userei VBA para corresponder dados novos em futuras atualizaçôes.

In [1]:
import pandas as pd

In [26]:
geral_oficial = pd.read_csv("/content/CADASTRO_GERAL.csv", parse_dates=True)
geral_nao_oficial = pd.read_csv("/content/Cadastro_Geral_Nao_oficial.csv", parse_dates=True)

## Visualizações

In [ ]:
geral_nao_oficial.head()

    Nº                            Nome  ... DATA DA PLANILHA Observações
0  1.0          Abdaline Jean Baptiste  ...         7/3/2020         NaN
1  2.0          Abigail Pereira Cabral  ...         7/3/2020         NaN
2  3.0  Adélia Verônica Pinto da Silva  ...        7/11/2020         NaN
3  4.0          Adelino da Silva Gomes  ...        6/27/2020         NaN
4  5.0       Aderaldo Araújo Simplício  ...         8/8/2020         NaN

[5 rows x 18 columns]

In [ ]:
geral_oficial.head()

  Nº+                            Nome  ... Última atualização Observações
0   1          Abdaline Jean Baptiste  ...         22/03/2021         NaN
1   2          Abigail Pereira Cabral  ...         03/07/2020         NaN
2   3  Adélia Verônica Pinto da Silva  ...         11/07/2020         NaN
3   4          Adelino da Silva Gomes  ...         29/05/2020         NaN
4   5       Aderaldo Araújo Simplício  ...         08/08/2020         NaN

[5 rows x 21 columns]

Vemos que a lista oficial tem mais dados do que a não oficial.

In [ ]:
geral_nao_oficial.shape, geral_oficial.shape

((1368, 18), (1541, 21))

In [ ]:
geral_oficial.dtypes

Nº+                          object
Nome                         object
EV/AB/PRAÇA                  object
Pedidos de Roupa/Remédio     object
Bairro                       object
Telefone                     object
Crianças                     object
Adultos                      object
Idosos                       object
Trabalha                     object
Recebe Auxílio?              object
Qtde de pessoas              object
Renda mensal                 object
Data de entrada              object
Endereço                     object
CPF                          object
CESTA 1                      object
CESTA 2                      object
CESTA 3                     float64
Última atualização           object
Observações                  object
dtype: object

A lista oficial foi toda reconhecida como string, exceto a coluna da Cesta 3.

In [ ]:
geral_nao_oficial.dtypes

Nº                     float64
Nome                    object
Liberado?               object
Remédios / Roupas       object
Bairro                  object
Telefone                object
Crianças                object
Adultos                 object
Idosos                  object
Trabalha                object
Tipo de Auxílio         object
Qtde de pessoas         object
(R$)                    object
Data de Atualização     object
Endereço                object
CPF                     object
DATA DA PLANILHA        object
Observações             object
dtype: object

## Modificando e validando dados

### Excluindo e Renomeando colunas

In [27]:
geral_nao_oficial = geral_nao_oficial.drop("Liberado?", axis = 1) # Exluiu a coluna Liberado?
geral_nao_oficial = geral_nao_oficial.drop("Nº", axis = 1) # Exclui a coluna Nº

Para melhor usar o join/merge/combine faremos as colunas nas duas planilhas terem o mesmo nome quando necessárias.

In [28]:
nomes = {"Remédios / Roupas": "Pedidos de Roupa/Remédio", "Tipo de Auxílio": "Recebe Auxílio?",
         "(R$)": "Renda mensal", "DATA DA PLANILHA": "Data de entrada", "Data de Atualização": "Última atualização"}

In [29]:
geral_nao_oficial.rename(nomes, axis = 1, inplace=True)

In [30]:
geral_nao_oficial.head()

                             Nome  ... Observações
0          Abdaline Jean Baptiste  ...         NaN
1          Abigail Pereira Cabral  ...         NaN
2  Adélia Verônica Pinto da Silva  ...         NaN
3          Adelino da Silva Gomes  ...         NaN
4       Aderaldo Araújo Simplício  ...         NaN

[5 rows x 16 columns]

### Estruturando a Coluna "CPF"

In [96]:
# Essa função enviar cada valor para ser checado
def separacao(data_serie):
  num = 0

  for i in range(len(data_serie)):
    try:
      if math.isnan(data_serie[i]):
        # Se o valor for NaN ele pula
        continue
        
    except TypeError:
        pass

    if type(data_serie[i]) is list:
      # Se for uma lista, junta os valores ao converte-los para string
      data_serie[i] = [str(x) for x in data_serie[i]]
      data_serie[i] = "".join(data_serie[i])

    if data_serie[i].startswith("ID:") or data_serie[i].startswith("RG"): # Se começa com "ID:" é ignorado
      continue

    valores = cpf(data_serie[i])
    num += 1

    if num % 10 == 0:
      # Printa a cada 10 CPF
      print(data_serie[i], valores[0], "index =", i)

    if valores[1] == False:
      data_serie[i] = valores[0]

In [90]:
import math
# Essa função checará se o CPF está no formato XXX.XXX.XXX-XX
def cpf(valor):
  
  cpf = []
  valor = list(valor.strip()) # Transforma em uma lista
      
  for i in range(len(valor)):
    # Começa a verificar do ultimo ao primeiro
        
    if valor[i].isdigit():
      # Se o valor for digito

      cpf.append(str(valor[i]))
    
  while len(cpf) < 11:
    # se a lista for menor que 11 será adicionado um 0 até completar 11 digito

    cpf.insert(0, "0")
  
  # Insere os caracteres nas posições específicas
  cpf.insert(3, ".") 
  cpf.insert(7, ".")
  cpf.insert(11, "-")

  return ["".join(cpf), False]

In [97]:
# Passando a serie da Coluna CPF
coluna_cpf = geral_nao_oficial["CPF"]
coluna_cpf = separacao(coluna_cpf)

127.383.047-45 127.383.047-45 index = 13
002.106.317-67 002.106.317-67 index = 25
014.187.861-44 014.187.861-44 index = 46
171.637.447-01 171.637.447-01 index = 67
035.672.627-42 035.672.627-42 index = 101
025.869.567-61 025.869.567-61 index = 126
917.828.487-20 917.828.487-20 index = 145
884.896.713-00 884.896.713-00 index = 165
149.072.277-79 149.072.277-79 index = 190
098.072.117-27 098.072.117-27 index = 219
144.283.937-94 144.283.937-94 index = 240
821.274.767-00 821.274.767-00 index = 261
081.657.907-57 081.657.907-57 index = 288
047.671.187-86 047.671.187-86 index = 312
112.168.227-86 112.168.227-86 index = 325
722.627.887-15 722.627.887-15 index = 345
098.865.774-01 098.865.774-01 index = 362
098.991.417-80 098.991.417-80 index = 396
158.517.007-00 158.517.007-00 index = 414
114.107.417-61 114.107.417-61 index = 432
074.763.917-57 074.763.917-57 index = 452
133.796.307-05 133.796.307-05 index = 468
078.310.637-81 078.310.637-81 index = 490
117.478.047-97 117.478.047-97 index = 511
100.129.957-46 100.129.957-46 index = 533
789.823.084-15 789.823.084-15 index = 548
025.669.107-07 025.669.107-07 index = 565
079.050.447-26 079.050.447-26 index = 586
151.946.237-98 151.946.237-98 index = 601
102.067.457-10 102.067.457-10 index = 622
662.485.077-91 662.485.077-91 index = 642
174.681.847-83 174.681.847-83 index = 665
014.040.817-71 014.040.817-71 index = 687
061.971.477-85 061.971.477-85 index = 704
157.400.497-25 157.400.497-25 index = 732
000.668.357-37 000.668.357-37 index = 746
207.856.057-03 207.856.057-03 index = 763
746.946.187-68 746.946.187-68 index = 783
858.234.135-05 858.234.135-05 index = 807
016.650.897-76 016.650.897-76 index = 824
297.186.947-49 297.186.947-49 index = 845
091.700.947-99 091.700.947-99 index = 863
065.839.517-38 065.839.517-38 index = 882
058.130.587-61 058.130.587-61 index = 907
103.963.357-99 103.963.357-99 index = 935
196.867.047-52 196.867.047-52 index = 957
100.016.157-93 100.016.157-93 index = 971
065.003.917-50 065.003.917-50 index = 993
122.837.087-70 122.837.087-70 index = 1014
130.918.587-58 130.918.587-58 index = 1044
156.366.327-97 156.366.327-97 index = 1077
118.202.167-05 118.202.167-05 index = 1094
142.923.597-76 142.923.597-76 index = 1115
052.975.527-02 052.975.527-02 index = 1144
842.344.237-34 842.344.237-34 index = 1165
156.284.456-11 156.284.456-11 index = 1188
037.869.247-08 037.869.247-08 index = 1208
124.528.217-48 124.528.217-48 index = 1229
120.061.027-02 120.061.027-02 index = 1250
107.134.697-06 107.134.697-06 index = 1263
157.259.517-58 157.259.517-58 index = 1284
430.155.907-82 430.155.907-82 index = 1309
063.568.867-06 063.568.867-06 index = 1337
532.978.307-00 532.978.307-00 index = 1353

In [98]:
coluna_cpf_oficial = separacao(geral_oficial["CPF"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

150.421.007-76 150.421.007-76 index = 9
095.088.617-37 095.088.617-37 index = 19
408.319.067-15 408.319.067-15 index = 31
119.015.767-52 119.015.767-52 index = 46
175.569.847-02 175.569.847-02 index = 58
142.276.967-75 142.276.967-75 index = 79
045.292.207-02 045.292.207-02 index = 102
063.654.317-08 063.654.317-08 index = 120
000.000.000-00 000.000.000-00 index = 144
119.023.867-52 119.023.867-52 index = 159
054.909.144-08 054.909.144-08 index = 178
264.787.558-86 264.787.558-86 index = 203
182.200.997-98 182.200.997-98 index = 230
112.771.037-04 112.771.037-04 index = 245
052.780.027-94 052.780.027-94 index = 264
821.274.767-00 821.274.767-00 index = 279
102.878.267-59 102.878.267-59 index = 302
085.764.904-39 085.764.904-39 index = 318
076.149.067-13 076.149.067-13 index = 336
115.277.217-10 115.277.217-10 index = 350
108.139.547-60 108.139.547-60 index = 369
037.649.427-11 037.649.427-11 index = 381
025.896.447-28 025.896.447-28 index = 402
089.455.647-99 089.455.647-99 index = 423
091.891.747-63 091.891.747-63 index = 438
744.426.197-00 744.426.197-00 index = 460
114.107.417-61 114.107.417-61 index = 472
029.354.697-55 029.354.697-55 index = 486
162.922.637-89 162.922.637-89 index = 501
079.587.877-07 079.587.877-07 index = 520
891.243.754-20 891.243.754-20 index = 540
103.042.447-08 103.042.447-08 index = 562
076.850.607-79 076.850.607-79 index = 585
154.087.187-86 154.087.187-86 index = 598
168.686.427-25 168.686.427-25 index = 613
146.048.237-90 146.048.237-90 index = 635
084.680.917-66 084.680.917-66 index = 647
063.783.005-93 063.783.005-93 index = 662
000.000.000-00 000.000.000-00 index = 682
011.622.117-84 011.622.117-84 index = 700
047.552.323-76 047.552.323-76 index = 720
002.107.194-72 002.107.194-72 index = 736
128.086.197-58 128.086.197-58 index = 752
187.503.797-71 187.503.797-71 index = 766
088.884.207-46 088.884.207-46 index = 791
175.443.417-71 175.443.417-71 index = 808
178.271.687-44 178.271.687-44 index = 821
149.200.367-01 149.200.367-01 index = 836
035.004.493-79 035.004.493-79 index = 853
336.193.953-49 336.193.953-49 index = 866
858.234.135-05 858.234.135-05 index = 890
045.293.127-47 045.293.127-47 index = 905
106.898.177-21 106.898.177-21 index = 919
004.493.657-51 004.493.657-51 index = 938
029.171.007-70 029.171.007-70 index = 952
539.604.407-15 539.604.407-15 index = 965
043.914.454-09 043.914.454-09 index = 984
076.069.037-51 076.069.037-51 index = 1000
025.243.247-96 025.243.247-96 index = 1024
078.386.427-28 078.386.427-28 index = 1043
170.646.127-55 170.646.127-55 index = 1057
093.455.347-50 093.455.347-50 index = 1077
707.314.547-15 707.314.547-15 index = 1093
152.552.897-10 152.552.897-10 index = 1114
100.999.007-18 100.999.007-18 index = 1138
113.877.157-04 113.877.157-04 index = 1156
144.756.717-01 144.756.717-01 index = 1185
054.243.047-96 054.243.047-96 index = 1199
090.126.437-75 090.126.437-75 index = 1217
104.751.777-97 104.751.777-97 index = 1238
002.227.169-61 002.227.169-61 index = 1265
104.122.267-07 104.122.267-07 index = 1285
150.068.097-44 150.068.097-44 index = 1308
218.533.337-27 218.533.337-27 index = 1326
077.171.557-96 077.171.557-96 index = 1346
012.098.047-67 012.098.047-67 index = 1361
133.309.107-98 133.309.107-98 index = 1377
120.491.557-19 120.491.557-19 index = 1391
146.863.227-23 146.863.227-23 index = 1409
133.799.397-22 133.799.397-22 index = 1430
106.401.407-00 106.401.407-00 index = 1454
097.792.477-77 097.792.477-77 index = 1475
411.729.737-68 411.729.737-68 index = 1495

## Juntando as duas planilhas

In [20]:
Colunas = ["CPF", "Nome", "Telefone", "Data de entrada"]

In [31]:
mergido = pd.merge(geral_nao_oficial, geral_oficial, on = Colunas, how="outer")

In [32]:
geral_nao_oficial.shape, geral_oficial.shape, mergido.shape

((1368, 16), (1541, 21), (2848, 33))

In [34]:
mergido.tail()

                             Nome  ... Observações_y
2843                 ZILDA SOARES  ...           NaN
2844          ZILMA DA SILVA MAIA  ...           NaN
2845    ZULEICA SILVA DO JANUÁRIO  ...           NaN
2846      LORREYNE FARIA DA SILVA  ...           NaN
2847  RELAYNE DA CONCEIÇÃO DUARTE  ...           NaN

[5 rows x 33 columns]

* Sem regularizar o CPF são 1678 pessoas no total

In [43]:
combinado = geral_oficial.combine_first(geral_nao_oficial)

In [44]:
combinado.shape

(1541, 21)

In [45]:
combinado.head()

  Adultos       Bairro  ... Trabalha Última atualização
0       1       Tanque  ...      Não         22/03/2021
1       3   Praça Seca  ...      não         03/07/2020
2       1  Vila Isabel  ...      Não         11/07/2020
3       2  Vila Isabel  ...      Não         29/05/2020
4     NaN       Tijuca  ...      NaN         08/08/2020

[5 rows x 21 columns]

Vemos que usando o ***combine()*** é a melhor opção, já que ele combina os valores faltantes quando as duas colunas tem o mesmo nome. No total temos o mesmo número de colunas e linhas que a planilha Geral_Oficial. Apesar disso, as colunas ficaram embaralhadas, nada que um ordernação não resolva.

### Reordenando as colunas